{% extends 'base.html' %}

{% block stylesheet %}

<STyle>/* 기본 참여자 ID 스타일 */
    .participant-id {
      cursor: pointer;
      color: #007BFF;
      text-decoration: underline;
    }
    
    /* 드롭다운 메뉴 숨기기 */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      margin-top: 5px;
      padding: 10px;
    }
    
    /* 체크박스가 체크되었을 때 드롭다운 보이기 */
    .dropdown-toggle:checked + .participant-id + .dropdown-content {
      display: block;
    }
    
    /* 드롭다운 내 버튼 스타일 */
    .dropdown-content form {
      padding: 10px;
      text-align: center;
    }
    
    .dropdown-content button {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }
    
    .dropdown-content button:hover {
      background-color: #45a049;
    }
    

    </STyle>
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=22e1d4f95d849a1ec5efd3eb058136ae&libraries=services"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

<body>
    {% block main %}
    <div class="container mt-4">

        <!-- 첨부파일 (이미지나 다른 파일이 있을 경우) -->
        {% if event.filename %}
        <div class="row">
            <div class="col-md-12" style="width: 100vw; overflow: hidden;">
                <!-- 파일이 이미지인 경우 -->
                {% if event.filename.endswith(('.png', '.jpg', '.jpeg', '.gif', '.bmp')) %}
                <img src="{{ url_for('static', filename='uploads/' + event.filename) }}" style="width: 100%; height: auto;  max-height:350px; object-fit: contain;" > 
                {% else %}
                <!-- 이미지가 아닌 파일일 경우 -->
                <a href="{{ url_for('static', filename='uploads/' + event.filename) }}" target="_blank">첨부 파일 다운로드</a>
                {% endif %}
            </div>
        </div>
        {% else %}
        <!-- 파일명이 없을 경우 기본 이미지 -->
        <img src="{{ url_for('static', filename='uploads/thanos-gangnam-style.gif') }}" class="event-image"
            alt="기본 이미지" />
        {% endif %}

        <hr>

        <p class="lead" style="font-size: 14px;">{{ event.description }}</p>
        

        <hr>

        <!-- 시작/종료 날짜 -->
        <div class="row">
            {% if event.start_date.date() == event.end_date.date() %}
            <!-- 시작날짜와 종료날짜가 같으면 날짜 한 번만 출력 -->
            <div class="col-md-12">
                <strong style="font-size: 14px; color: gray; font-weight: normal;">일정:</strong>
                <span style="font-size: 14px; color: black;">
                    {{ event.start_date.strftime('%Y-%m-%d (%A)') }}
                </span>
                <span style="font-size: 14px; color: black;">{{ event.start_date.strftime('%H:%M') }}</span> ~
                <span style="font-size: 14px; color: black;">{{ event.end_date.strftime('%H:%M') }}</span>
            </div>
            {% else %}
            <!-- 시작날짜와 종료날짜가 다르면 각각 출력 -->
            <div class="col-md-6">
                <strong style="font-size: 14px; color: gray; font-weight: normal;">일정:</strong>
                <span style="font-size: 14px; color: black;">
                    {{ event.start_date.strftime('%Y-%m-%d (%A) %H:%M') }}
                </span> ~
                <span style="font-size: 14px; color: black;">
                    {{ event.end_date.strftime('%Y-%m-%d (%A) %H:%M') }}
                </span>
            </div>
            <div class="col-md-6">

            </div>
            {% endif %}
        </div>

        <!-- 신청 기한 -->
        <div class="row">
            {% if event.application_start_date.date() == event.application_end_date.date() %}
            <!-- 신청 시작날짜와 종료날짜가 같으면 날짜 한 번만 출력 -->
            <div class="col-md-8">
                <strong style="font-size: 14px; color: gray; font-weight: normal;">신청 기한 :</strong>
                <span style="font-size: 14px; color: black;">
                    {{ event.application_start_date.strftime('%Y-%m-%d (%A)') }}
                </span>
                <span style="font-size: 14px; color: black;">
                    {{ event.application_start_date.strftime('%H:%M') }}
                </span>부터
                <span style="font-size: 14px; color: black;">
                    {{ event.application_end_date.strftime('%H:%M') }}
                </span>까지
            </div>
            {% else %}
            <!-- 신청 시작날짜와 종료날짜가 다르면 각각 출력 -->
            <div class="col-md-8">
                <strong style="font-size: 14px; color: gray; font-weight: normal;">신청 기간:</strong>
                <span style="font-size: 14px; color: black;">
                    {{ event.application_start_date.strftime('%Y-%m-%d (%A) %H:%M') }}
                </span> ~
                <span style="font-size: 14px; color: black;">
                    {{ event.application_end_date.strftime('%Y-%m-%d (%A) %H:%M') }}
                </span>
            </div>
            {% endif %}
        </div>

        <!-- 참가비 -->
        <div class="row">
            <div class="col-md-12">
                <strong style="font-size: 14px; color: gray; font-weight: normal;">비용 :</strong>
                {% if event.entryfee == 0 %}
                <span style="font-size: 14px; color: black;">무료</span>
                {% else %}
                <span style="font-size: 14px; color: black;">{{ event.entryfee }} 원</span>
                {% endif %}
            </div>
        </div>

        <!-- 장소 -->
        <div class="row">
            <div class="col-md-6">
                <strong style="font-size: 14px; color: gray; font-weight: normal;">장소:</strong>
                <span style="font-size: 14px; color: black;">{{ event[2] }}</span> <!-- event[2]는 장소 이름 -->
            </div>
        </div>
        <h2>위치 정보:</h2>
        <p>장소: {{ location['location'] }}</p> <!-- 장소 -->
        
        <!-- 지도 표시할 div -->
        <div id="map" style="width: 100%; height: 400px;"></div>
        
    
        <hr>
        <img src="{{ url_for('static', filename='uploads/' + eventmanager.filename) }}" style="width: 20%; height: auto;  max-height:250px; object-fit: contain;" > 
        <div class="event-manager-info">
            <div><strong style="font-size: 14px; color: gray; font-weight: normal;">담당자 ID:</strong> <span class style="font-size: 14px; color: black;" ="userid">{{ eventmanager.userid }}</span></div>
            <div><strong style="font-size: 14px; color: gray; font-weight: normal;">전화번호:</strong> <span class style="font-size: 14px; color: black;"="phonenumber">{{ eventmanager.phonenumber }}</span></div>
            <div><strong style="font-size: 14px; color: gray; font-weight: normal;">이메일:</strong> <span class style="font-size: 14px; color: black;"="address">{{ eventmanager.address }}</span></div>
        </div>
            
        <!-- <hr>

            <div style="display: flex; flex-wrap: wrap; gap: 1px;">
                <p>참여자: {{ event_pp[0]['participant_count'] }}명 
                </p>{% for participant in event_p %}
                    <div>
                        <p><strong>{{ participant.participant_id }},</strong></p>
                       
                    </div>
                {% endfor %}
</div>

<hr> -->
<hr>
<div style="display: flex; flex-wrap: wrap; gap: 1px;">
    <p>참여자: {{ event_pp[0]['participant_count'] }}명 </p>
    {% for participant in event_p %}
        <div class="participant">
            <!-- 동적으로 id를 생성 (participant.participant_id를 사용) -->
            <input type="checkbox" id="dropdown-{{ participant.participant_id }}" class="dropdown-toggle" hidden>
            <label for="dropdown-{{ participant.participant_id }}" class="participant-id">
                <strong>{{ participant.participant_id }}</strong>
            </label>

            <div class="dropdown-content" id="dropdown-content-{{ participant.participant_id }}">
                <p>ID: {{ participant.participant_id }}의 정보입니다.</p> 
                <!-- <form action="#" method="POST">
                    <button type="submit">승인</button>
                </form>
                <form action="#" method="POST">
                    <button type="submit">거절</button>
                </form>
                <form action="#" method="POST">
                    <button type="submit">삭제</button>
                </form> -->
                <form action="{{ url_for('approve_participant') }}" method="POST">
                    <input type="hidden" name="participant_id" value="{{ participant.participant_id }}">
                    <input type="hidden" name="event_id" value="{{ participant.event_id }}">
                    <button type="submit">승인</button>
                </form>

    
                <form action="{{ url_for('reject_participant') }}" method="POST">
                    <input type="hidden" name="participant_id" value="{{ participant.participant_id }}">
                    <input type="hidden" name="event_id" value="{{ participant.event_id }}">
                    <button type="submit">거절</button>
                </form>
    
                <form action="{{ url_for('delete_participant') }}" method="POST">
                    <input type="hidden" name="participant_id" value="{{ participant.participant_id }}">
                    <input type="hidden" name="event_id" value="{{ participant.event_id }}">
                    <button type="submit">삭제</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
<hr>



        <!-- 장소 및 카테고리 -->

        <div>
            <div class="col-md-6">
                <strong>카테고리:</strong> {{ event.category }}
            </div>
        </div>
        <hr>



        <!-- 수정 및 삭제 버튼 -->
        <div class="row">
            <div class="col-md-12">
                <a href="{{ url_for('edit_event', id=event.id) }}" class="btn btn-primary">이벤트 수정</a>
                <a href="{{ url_for('event') }}" class="btn btn-secondary">이벤트 목록</a>
                <a href="{{ url_for('deleting_event', id=event.id) }}" class="btn btn-danger">이벤트 삭제</a>
                <a href="{{ url_for('join_event', event_id=event.id,user_id=session['userid']) }}" class="btn btn-primary">이벤트 참여</a>
            </div>
        </div>

    </div>
    {% endblock %}
</body>
{% block script %}
<script>
    // 모든 체크박스를 찾아서 클릭 시 인라인 스타일을 수정
document.querySelectorAll('.dropdown-toggle').forEach(function(checkbox) {
  checkbox.addEventListener('change', function() {
    const dropdownContent = document.getElementById('dropdown-content-' + this.id.split('-')[1]);
    if (this.checked) {
      // 체크된 경우 드롭다운 보이게 설정
      dropdownContent.style.display = 'block';
    } else {
      // 체크 해제된 경우 드롭다운 숨기기
      dropdownContent.style.display = 'none';
    }
  });
});

kakao.maps.load(function() {
    var mapContainer = document.getElementById('map');
    var mapOption = {
        center: new kakao.maps.LatLng({{ location['latitude'] }}, {{ location['longitude'] }}),
        level: 3
    };
    var map = new kakao.maps.Map(mapContainer, mapOption);

    var markerPosition = new kakao.maps.LatLng({{ location['latitude'] }}, {{ location['longitude'] }});
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    marker.setMap(map);

    var infowindow = new kakao.maps.InfoWindow({
        content: '<div style="padding:5px;">' + '{{ location['location'] }}' + '</div>'
    });

    kakao.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map, marker);
    });
});

</script>

{% endblock %}
</html>